<!DOCTYPE html>
<html>
  <head>
    <title>PlateGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="far fa-file-pdf"></i>
            <span class="m-l-2">Plate Generator</span>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to t('.profile'), edit_user_registration_path, class: "btn btn-outline-secondary mx-2" %>
            <%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete, class: "btn btn-outline-secondary mx-2" %>
          <% else %>
            <%= link_to t('.sign_in'), new_user_session_path, class: "btn btn-outline-secondary mx-2" %>
            <%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-outline-secondary mx-2" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
